<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">
    <menu id="main" caption="msg://com.company.unicef/menu.main">
    </menu>
    <menu id="caseManagement" caption="msg://com.company.unicef/menu.caseManagement" insertAfter="main">
        <item screen="OpenCase.browseAll" caption="msg://com.company.unicef.screen.opencase/openCaseBrowseAll.menu"/>
        <item screen="FirstForm.browse" caption="msg://com.company.unicef.screen.firstform/firstFormBrowse.menu"/>
        <item screen="OpenCase.browse" caption="msg://com.company.unicef.screen.opencase/openCaseBrowse.menu"/>
        <item screen="SecondForm.browse" caption="msg://com.company.unicef.screen.secondform/secondFormBrowse.menu"/>
    </menu>
    <menu id="admin" caption="msg://com.company.unicef/menu.admin" insertAfter="caseManagement">
        <item screen="EventDate.browse" caption="msg://com.company.unicef.screen.eventdate/eventDateBrowse.caption"/>
        <item screen="Student.browse" caption="msg://com.company.unicef.screen.student/studentBrowse.menu"/>
        <item screen="User.browse" caption="msg://com.company.unicef.screen.user/UserBrowse.caption"/>
        <menu id="needs" caption="msg://com.company.unicef/menu.needs">
            <item screen="NeedsHealth.browse" caption="msg://com.company.unicef.screen.needshealth/needsHealthBrowse.menu"/>
            <item screen="NeedsEducation.browse"
                  caption="msg://com.company.unicef.screen.needseducation/needsEducationBrowse.menu"/>
            <item screen="NeedsEmotion.browse"
                  caption="msg://com.company.unicef.screen.needsemotion/needsEmotionBrowse.menu"/>
            <item screen="NeedsIdentity.browse"
                  caption="msg://com.company.unicef.screen.needsidentity/needsIdentityBrowse.menu"/>
            <item screen="NeedsFamily.browse" caption="msg://com.company.unicef.screen.needsfamily/needsFamilyBrowse.menu"/>
            <item screen="NeedsSelf.browse" caption="msg://com.company.unicef.screen.needsself/needsSelfBrowse.menu"/>
            <item screen="NeedsCare.browse" caption="msg://com.company.unicef.screen.needscare/needsCareBrowse.menu"/>
            <item screen="NeedsHome.browse" caption="msg://com.company.unicef.screen.needshome/needsHomeBrowse.menu"/>
        </menu>
    </menu>
    <item id="allFilesBrowse" screen="AllFiles.browse" caption="msg://com.company.unicef.screen.allfiles/allFilesBrowse.caption" insertAfter="admin"/>
    <menu id="appearance" caption="msg://com.company.unicef/menu.appearance" insertAfter="allFilesBrowse">
        <item screen="themeSettingsScreen" caption="msg://com.company.unicef/menu.theme"/>
    </menu>
    <item id="blogReadBrowse" screen="BlogRead.browse" caption="msg://com.company.unicef.screen.blog/blogReadBrowse.menu" insertAfter="caseManagement"/>
    <item id="blogBrowse" screen="Blog.browse" caption="msg://com.company.unicef.screen.blog/blogBrowse.menu" insertAfter="admin"/>
    <item screen="StatisticsScreen" caption="msg://com.company.unicef.screen.statistics/statisticsScreen.caption" insertAfter="blogBrowse"/>
</menu-config>